.about-us-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 1200px;
}

.about-us-content p {
    font-size: 1.1rem !important;
    line-height: 1.6;
}

.about-us-content strong {
    font-weight: bold;
    color: #000;
}
.about-us-more-info {
    grid-column: 1 / -1; 
    text-align: center; 
    margin-top: 10px; 
}

.about-us-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3798F8;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .about-us-content {
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 0px;
        overflow-x: hidden; 
        overflow-y: auto;   
    }

    .about-us-content p {
        font-size: 0.8rem !important;
    }
}