.common-questions {
    max-width: 800px;
    margin: auto;
}

.question-item {
    margin-bottom: 10px;
}

.question-toggle {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    color: #999;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.question-item.active .arrow {
    transform: rotate(180deg);
}

.answer {
    padding: 10px;
    background: #f9f9f9;
    border-top: none;
}