.site-footer {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 550px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-brand,
.footer-nav,
.footer-contact {
    margin: 10px;
}

.footer-brand a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.footer-brand p1 {
    font-style: bold !important;
    font-size: 2rem;
}

.footer-brand img {
    margin-bottom: 10px;
}

.footer-nav a,
.footer-contact a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav a:hover,
.footer-contact a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .site-footer {
        margin-top: 750px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-brand,
    .footer-nav,
    .footer-contact {
        margin: 10px auto;
    }

    .footer-brand img {
        width: 150px;
    }
}