.interlude-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 20px;
}

.interlude-image {
    width: 100%;
    height: auto;
    display: block;
}