.interlude-container {
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interlude-image {
    width: 100%;
    height: auto;
    display: block;
}