.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border: none;
    position: relative;
    width: 75%;
    max-width: 2000px;
    min-width: 300px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #333; 
    font-size: 24px; 
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding: 0 12px;
}
