/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 72rem;
    margin: auto;
    padding: 1rem;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    height: 2.5rem;
    width: auto;
}

.waitlist-container {
    display: flex;
    align-items: center;
}

.waitlist-button {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    background-color: #3798F8;
    color: white;
    transition: transform 0.3s;
}

.waitlist-button:hover {
    background-color: #93c5fd;
    transform: scale(1.05);
    color: #1d4ed8;
}