.waitlist-container2 {
    padding: 20px;
    text-align: center;
    background-image: url('../assets/fullbg.jpg');
    background-size: cover;
    background-position: center center;
}

.waitlist-container2 h2 {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.waitlist-container2 p {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;
}

.waitlist-form input,
.waitlist-form button {
    padding: 20px 30px;
    margin: 10px 5px;
    border-radius: 8px;
    font-size: 1.25rem;
    width: 60%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.waitlist-form button {
    background-color: #3798F8;
    color: white;
    border: none;
    cursor: pointer;
}

.waitlist-form input {
    border: 2px solid #ccc;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

.video-container video {
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    display: block;
    margin-bottom: 200px;
}